.container-1{
    display: flex;
    color:darkgray;
    justify-content: center;
    background-color:lightgray;
}
.container-1 div{
    border: 1px #ccc solid;
    padding: 10px;
    justify-content:space-between;
} 
.box-1{
    flex: 2;  
    
}
.box-2{
    flex: 2;
}
.box-3{
    flex: 2;
}
.flex-container {
    display: flex;
    align-items: stretch;
  
    
   
  }
  
  .flex-container > div {
    
    justify-content: center;
    margin: 10px;
    text-align: left;
    line-height: 60px;
  
  }
 .label{
  width: 100px;
  display: inline-block;
 }

